@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html,
body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}
.navbar {
    height: 100px;
    background-color: #ffffff;
}

.container-fluid {
    margin-left: 150px;
}

.navbar-brand {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.02em;
}

.special-brand {
    color: #f22225;
}

.navbar-collapse {
    margin-left: 380px;
}

.nav-link {
    margin-right: px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #757b82;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #f22225;
}

.btn-profile {
    margin-right: 70px;
    width: 146px;
    height: 49px;
    background: #f22225;
    border-radius: 6px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.02em;

    color: #fafafa;
}

.hero-banner {
    padding-left: 170px;
    background-color: #edf5fe;
}

.dash {
    width: 53px;
    height: 0;
    border: 1px solid #f22225;
    margin: 3px;
    display: inline-block;
}

.top-distance-dash-hero {
    margin-top: 220px;
}

.greeting {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.02em;

    color: #25282b;
}

.special-greet {
    color: #f22225;
}

.main-title {
    font-style: normal;
    font-weight: 500;
    font-size: 68px;
    line-height: 78px;
    letter-spacing: 0.02em;
    color: #0f172a;
}

.short-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    color: #757b82;
}

.btn-view-data {
    margin-top: 20px;
    width: 209px;
    height: 48px;
    background: #f22225;
    border-radius: 50px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;

    color: #edf5fe;

    text-align: center;
}

.figure-profile {
    width: 600px;
    margin-top: 10px;
    margin-left: 60px;
}

.figure-profile-about {
    width: 260px;
}

.figure-profile-project-qa {
    width: 170px;
    margin-left: -20px;
}

.figure-profile-project-develop {
    width: 170px;
    margin-left: -20px;
    margin-top: 29px;
}

.distance-dash-profile {
    margin-top: 70px;
}

.custom-margin-left {
    margin-left: -70px;
}

.title-profile {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.02em;

    color: #0f172a;
}

.desc-profile {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #757b82;
    padding-right: 50px;
}

.btn-more-about-me {
    width: 223px;
    height: 40px;
    left: 988px;
    top: 1489px;
    line-height: 25px;

    background: #f22225;
    border-radius: 50px;

    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.custom-width-card {
    width: 17rem;
    margin-right: 70px;
    margin-bottom: 40px;
}

.shadow-fill {
    box-shadow: 10px 10px 5px lightblue;
}

.width-card {
    max-width: 1400px;
}

.margin-card {
    margin-bottom: 70px;
    margin-left: 80px;
}

.table {
    font-size: 20px;
}

.icon-white {
    color: #ffffff;
}

.fit-screen {
    min-height: 86vh;
}

.head-title,
hr {
    margin-left: 80px;
}
